#aboutTablet {

    h1 {
        margin: 1% 0 5% 33%;
    }
    
    .about {
        flex-direction: column;
        margin: auto;

        #aboutImage {
            width: 500px;
            height: 508px;
            background: url("../images/CityMe.png");
            background-position: center bottom;
            margin: auto
        }
        
        #aboutText {
            border-top: 1px solid black;
            border-left: none;
            margin: auto;
            margin-top: 5%;
            width: 600px;
        }
    }
}