* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

$mobile: 500px;
$tablet: 1025px;

.App {
  text-align: center;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
}

@import "Titles";
@import "Main";
@import "Nav";
@import "Contact";
@import "About";
@import "Projects";
@import "Skills";