* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.App {
  text-align: center;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
}


@import "Titles";
@import "Home";
@import "HomeTablet";
@import "HomeMobile";
@import "Nav";
@import "About";
@import "AboutTablet";
@import "AboutMobile";
@import "Projects";
@import "Skills";
@import "SkillsTablet";
@import "Hamburger";


@media (max-width: 1025px) {
    #homeDesktop, #aboutDesktop, #skillsDesktop {
        display: none;
  }
}

@media (min-width: 1025px){
    #homeTablet, #aboutTablet, #skillsTablet {
        display: none;
  }
}

// @media (min-width: 1px) and (max-width: 499px) {
//     #skillsTablet {
//         display: none;
//   }
// }

// @media (min-width: 500px) {
//      #projectsMobile {
//         display: none;
//   }
// }