main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  scroll-behavior: smooth;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  .mainContainer {
    width: 44%;
    height: 500px;
    margin: 2.5%;
    background-size: cover;

    @media (max-width: $mobile) {
      width: 90%;
      height: 225px;
    }

    @media (max-width: $tablet){
      width: 90%;
      height: 400px;
    }

    .mainTextDiv {
      padding: 30%;
      height: inherit;

      h1 {
        font-family: 'Bowlby One', cursive;
        font-size: 3rem;
      }
    }
  }
}

.mainAboutImage {
  background: url("../images/hawaii.jpg");
}

.mainProjectImage {
  background-image: url("../images/SignLingoLg.png");
}

.mainSkillsImage {
  background: url("../images/community.jpg")
}
