#subtitle {
    padding-top: 1%;
    font-size: 1.2rem;
}

#projectsMainDiv {
    display: flex;
    flex-direction: row;

    .projects {
        margin: 5% auto;
  
        section {
            display: flex;
            flex-direction: column;
            width: 300px;
      
            .textSide {
                background: #c0ccd1;
                padding: 0 10%;
                text-align: left;

                h3 {
                    padding-top: 8%;
                    text-align: center;
                }

                h5 {
                    text-align: center;
                    
                }

                .date {
                    padding-top: 10px;
                    padding-bottom: 5px;
                    text-decoration: underline;
                }
            }

            .projectCard {
                position: relative;
                height: 525px;
                width: inherit;
                cursor: pointer;
    
                .projectCardWithImage {
                    background: url('../images/SignLingo.png');
                    height: inherit;
                }
            }
    
            .stuffUnderCard {
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h1 {
                    font-size: 2.5rem;
                    margin: 2% 0;
                }  
    
                .projectLinks {
                    display: flex;
                    justify-content: space-evenly;
                    width: 75%;
                }

                .link {
                    width: 50px;
                    height: 50px;
                    color: black;
                }
            }    
        }
    }
}
