.skillsDiv {
  display: flex; 
  flex-direction: column;
  align-items: center;

  .skillButtons {
    width: 100%;
  }

  button {
    padding: 1.5%;
    margin: 3%;
    border-radius: 15px;
    border: 1px solid black;
    width: 225px;
    color: black;
    font-size: 1.4rem;
    outline: none;
    box-shadow: 5px 8px;
    font-family: 'Bungee Inline', cursive;
  }
  
  #frontButton {
    background-color: cornflowerblue;
  }
  #backButton {
    background-color: rgb(85, 184, 4);
  }
  #stylingButton {
    background-color: darksalmon;
  }

  .skillsContent {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
  
    .skills {
      width: 110px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3%;
      font-size: 1.3rem;
    }

    .front {
      background-color: cornflowerblue;
      border-radius: 2px solid cornflowerblue;
      border-radius: 8px;
    }

    .styling {
      background-color: darksalmon;
      border: 2px solid darksalmon;
      border-radius: 8px;
    }

    .back {
      background-color:rgb(85, 184, 4);;
      border: 2px solid rgb(85, 184, 4);;
      border-radius: 3px;
    }

  }
}
