.titleh1 {
  font-size: 2.4rem;
  font-family: 'Bowlby One', cursive;
  border-bottom: 1px solid black;
  width: 33%;
}

.aboutTitle {
  margin-left: 22%;
}

.projecth1 {
  margin: auto;

  @media (min-width: 1px) and (max-width: 760px) {
    text-align: start;
    margin-left: 20%;
  }
}

.contactTitle {
  margin-left: 15%;
}