.titleh1 {
  font-size: 2.4rem;
  font-family: 'Bowlby One', cursive;
  border-bottom: 1px solid black;
  width: 33%;
}

.aboutTitle {
  margin-left: 22%;
}

.projecth1 {
  margin-left: 35%;
}

.contactTitle {
  margin-left: 15%;
}