//universal reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.App {
  text-align: center;
  padding: 2%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .mainContainer {
    width: 44%;
    height: 500px;
    margin: 2.5%;
    background-size: cover;

    .mainTextDiv {
      padding: 30%;
      height: inherit;

      h1 {
        font-family: 'Bowlby One', cursive;
        font-size: 3rem;
      }
      h2 {
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.mainAboutImage {
  background: url("../src/images/hawaii.jpg");
}

.mainProjectImage {
  background-image: url("../src/images/SignLingoLg.png");
}

.mainSkillsImage {
  background: url("../src/images/community.jpg")
}